language: go
sudo: false

matrix:
  include:
    - go: 1.7
  allow_failures:
    - go: tip

script:
  - make --file=src/Makefile get_make_deps
  - make --file=src/Makefile get_go_deps
  - cd ./src && make travis
