language: go
sudo: false

matrix:
  include:
    - go: 1.7
  allow_failures:
    - go: tip

script:
  - make --file=src/Makefile commit
  - diff -u <(echo -n) <(gofmt -d .)
  - go vet ./src/...
  - go test -v -race ./src/...
